.pesquisa {
    width: 80vw;
    margin: 32px auto 64px auto;
    text-align: end;
}

.secao01 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px 16px;
    width: 80vw;
    margin: 0px auto 16px auto;
}

.naoEncontrado {
    font-size: 16px;
    text-align: center;
}

.naoEncontrado>strong {
    color: var(--azulDestaque);
    font-weight: 800;
}