.carrinho {
    padding: 16px;
}

.corpoDaPagina, .total {
    font-size: 48px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 48px 0px 32px 0px;
    color: var(--letrasEscuras);
}

.total {
    font-size: 24px;
}

.icone {
    color: var(--azulDestaque);
}

.vazio {
    text-align: center;
    font-size: 25px;
    color: var(--azulDestaque);
}